<ion-header>
  <main-header textTitle="Tareas Terminadas"></main-header>
</ion-header>

<ion-content>
  <ion-grid *ngIf="(_wishList.lists | finishedPipe).length === 0">
    <ion-row>
      <ion-col text-center class="empty-box">
        <ion-icon ios="ios-sunny" md="md-sunny"></ion-icon>
        <p>No hay ninguna tarea completada</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list no-lines>
    <ion-item *ngFor="let item of _wishList.lists | finishedPipe; let i = index">
      <ion-icon item-left *ngIf="!item.complete" ios="ios-square-outline" md="md-square-outline"></ion-icon>
      <ion-icon item-left *ngIf="item.complete" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
      <h2 [class.item-complete]="item.complete">{{ item.name }}</h2>
    </ion-item>
  </ion-list>
</ion-content>
