page-lists {
  .empty-box {
    color: #c7c7c7;
    padding-top: 40%;
    p {
      font-size: 30px;
    }
    ion-icon {
      font-size: 100px;
    }
  }
  ion-list {
    ion-item {
      height: 30px;
      min-height: unset;
    }
  }
}
